# -*- coding: utf-8 -*-
# vim: ft=jinja
#
{% import_yaml "rsyslog/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
      'use_sysvinit': False,
      'use_systemd': True,
      'build_options': {
        'source_root': '/usr/local/src',
        'install_prefix': '/usr/local/',
        'make_flags': '-j2',
        'add_repository': True,
        'packages': {
          'build_essential': 'build-essential',
          'pkg_config': 'pkg-config',
          'libestr_dev': 'libestr-dev',
          'libfastjson_dev': 'libfastjson-dev',
          'zlib_dev': 'zlib1g-dev',
          'uuid-dev': 'uuid-dev',
          'libgcrypt_dev': 'libgcrypt20-dev',
          'libcurlgnutls_dev': 'libcurl4-gnutls-dev',
          'liblogging_stdlog_dev': 'liblogging-stdlog-dev',
        },
      },
    },
    'RedHat': {},
    'Arch': {},
  }, grain='os', merge=salt['pillar.get']('rsyslog:lookup'), default='Debian')
%}

{% do default_settings.rsyslog.update(os_family_map) %}

{% set rsyslog = salt['pillar.get'](
    'rsyslog',
    default=default_settings.rsyslog,
    merge=True)
%}

