#################
#### MODULES ####
#################

{% for module in config.get('modules', []) -%}
module(load="{{ module }}")
{% endfor %}

###########################
#### GLOBAL DIRECTIVES ####
###########################

global(
{% for directive, value in config.get('global_directives', {}).items() -%}
  {{ directive }}="{{ value }}"
{% endfor -%}
)

{% if 'main_queue' in config -%}
main_queue(
{% for parameter, value in config.get('main_queue', {}).items() -%}
  {{ parameter }}="{{ value }}"
{% endfor -%}
)
{% endif %}

##################
#### RULESETS ####
##################

{% for name, rules in config.get('rulesets', {}).items() -%}
ruleset(name="{{ name }}) {
{% for rule in rules -%}
  {{ rule }}
{% endfor -%}
}
{% endfor %}

################
#### INPUTS ####
################

{% for type, parameters in config.get('inputs', {}).items() -%}
input(
type="{{ type }}"
{% for parameter, value in parameters.items() -%}
  {{ parameter }}="{{ value }}"
{% endfor -%}
)
{% endfor %}

###################
#### TEMPLATES ####
###################

{% for template in config.get('templates', []) -%}
template(
name="{{ template['name'] }}"
type="{{ template['type'] }}"
{% for parameter, value in template.get('parameters', {}).items() -%}
  {{ parameter }}="{{ value }}"
{% endfor -%}
)
{% if 'descriptions' in template -%}
{
{% for description in template.get('descriptions', []) -%}
    {{ description }}
{% endfor -%}
}
  {% endif %}
{% endfor %}

###############
#### RULES ####
###############

{% for rule in config.get('rules', []) -%}
  {{ rule }}
{% endfor -%}

